<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="BDD Test Suite">

	<!-- Below Code is for ExtentReport  -->
	<listeners>
		<listener class-name="com.crm.qa.ExtentReportListener.ExtentReportListener"/>
	</listeners>
	
	<test name="Free CRM Test">
	
    	<classes>
    		<class name="com.crm.qa.TestRunner.TestRunnerClass"/>
    	</classes>
    
	</test> <!-- Test -->
	
</suite> <!-- Suite -->
